@using OnlineShop.Common.Constants;

@{
    ViewBag.Title = "Đăng nhập - ShopMax";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message;
}

@model OnlineShop.Models.RegisterModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Assets/css/Controller/AccountCSS/account.css" rel="stylesheet" />

@section jsFooter{
    <script>
        if ('@message' == '@Constants.CHANGE_PASSWORD_FAILD' || '@message' == '@Constants.CHANGE_PASSWORD_SUCCESS') {
            $("#errorModal").modal('show');
        }
    </script>
}


<style>
    body {
    font-family: 'Varela Round', sans-serif;
}

.modal-login {
    width: 500px;
}

    .modal-login .modal-content {
        margin-top: 100px;
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }

    .modal-login .close {
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .modal-login h4 {
        color: #636363;
        text-align: center;
        font-size: 26px;
        margin-top: 0;
    }

    .modal-login .modal-content {
        color: #999;
        border-radius: 1px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 25px;
    }

    .modal-login .form-group {
        margin-bottom: 20px;
    }

    .modal-login label {
        font-weight: normal;
        font-size: 13px;
    }

    .modal-login .form-control {
        min-height: 38px;
        padding-left: 5px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
        border-radius: 0;
    }

        .modal-login .form-control:focus {
            border-color: #ccc;
        }

    .modal-login .input-group-addon {
        max-width: 42px;
        text-align: center;
        background: none;
        border-width: 0 0 1px 0;
        padding-left: 5px;
        border-radius: 0;
    }

    .modal-login .btn {
        font-size: 16px;
        font-weight: bold;
        border-radius: 3px;
        border: none;
        min-width: 140px;
        outline: none !important;
        background: #DE6262;
        color: #fff;
    }

        .modal-login .btn:hover, .modal-login .btn:focus {
            background: #179b81;
        }

    .modal-login .hint-text {
        text-align: center;
        padding-top: 5px;
        font-size: 13px;
    }

    .modal-login .modal-footer {
        color: #999;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -25px -25px;
        font-size: 13px;
        justify-content: center;
    }

    .modal-login a {
        color: #fff;
        text-decoration: underline;
    }

        .modal-login a:hover {
            text-decoration: none;
        }

    .modal-login a {
        color: #19aa8d;
        text-decoration: none;
    }

        .modal-login a:hover {
            text-decoration: underline;
        }

    .modal-login .fa {
        font-size: 21px;
    }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

</style>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nhập email của bạn để nhận mật khẩu mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="margin-top:10px">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 20px">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Gửi</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="errorModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4>@message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
        </div>
    </div>
</div>                             

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Đăng nhập ngay bây giờ</h2>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên đăng nhập</label>
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @id = "username1", @required = "required", @autocomplete = "off" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        @Html.PasswordFor(model => model.Password, new { @type = "password", @class = "form-control", @id = "password1", @required = "required" })
                    </div>
                    <div style="align-self: center">
                        @Html.ValidationSummary(true, "", new { @style = "color: red" })
                    </div>
                    <div>
                        <button type="submit" class="btn btn-login float-right">ĐĂNG NHẬP</button>
                    </div>
                }
                <div>
                    <span>Bạn chưa là thành viên?</span><br />
                    <a href="/Account/_SignUp" class="blue-text ml-1">
                        Đăng kí
                    </a>
                </div>
                <div style="margin-top:50px"><a class="" href="#myModal" data-toggle="modal">Quên mật khẩu?</a></div>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>The ShopMax Viet Nam</h2>
                                    <p>The ShopMax là thương hiệu thời trang quốc tế ra đời tại Anh Quốc. Khác với những thương hiệu thông thường, THE COSMO tập trung phát triển những mẫu trang phục có thiết kế cơ bản và thiết yếu trong cuộc sống, để từ đó khách hàng có thể tự do kết hợp và tạo ra phong cách của riêng mình.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
</section>


