<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

@*@model OnlineShop.Models.LoginModel*@
@model OnlineShop.Models.RegisterModel

@section jsFooter{
    @*<script src="~/Assets/js/Controller/userController.js"></script>*@
    <script src="~/Assets/js/Controller/HomeJS/goToModal.js"></script>
    <script>
        // MARK: Check login status
        var showModal = '@ViewBag.ShowModal';
        console.log(showModal);
        if (showModal == '@Constants.SHOW_LOGIN_MODAL') {
            $(window).on('load', function () {
                $('#loginModal').modal('show');
            });
        } else if (showModal == '@Constants.SHOW_SIGN_UP_MODAL') {
            $(window).on('load', function () {
                $('#signUpModal').modal('show');
            });
        }
    </script>
    <script>
        if ('@ViewBag.Status' == 'True') {
            alert('@ViewBag.Message');
        }
    </script>
}

@Styles.Render("~/Assets/css/Controller/HomeCSS/modal.css")



<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center" style="height:50px">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div class="md-form mb-5">
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @placeholder = "Username", @id = "username1", @required = "required", @autocomplete = "off" })
                    </div>

                    <div class="md-form pb-3" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.PasswordFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @id = "password1", @required = "required" })
                        <p class="font-small blue-text d-flex justify-content-end">
                            Forgot <a href="#" class="blue-text ml-1">
                                Password?
                            </a>
                        </p>
                    </div>
                    <span class="help-block">
                        @Html.ValidationSummary(true, "", new { @style = "color: red" })
                    </span>
                    <div id="error-message"></div>
                    <div class="text-center mb-3" style="margin-top: -10px">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a" id="btn-login">Sign in</button>
                    </div>
                }
                <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
                    or Sign in
                    with:
                </p>

                <div class="row my-3 d-flex justify-content-center">
                    <!--Facebook-->
                    <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button>
                    <!--Google +-->
                    <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g"></i></button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">
                    Not a member? <a href="#" class="blue-text ml-1" id="btnSwitchToSignUpModal" onclick="showRegistrationModal()">
                        Sign Up
                    </a>
                </p>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Login Modal -->
<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center" style="height:50px">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign up</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
                {
                    <div class="md-form mb-5">
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @placeholder = "Username", @id = "username", @required = "required", @autocomplete = "off" })
                    </div>

                    <div class="md-form pb-3" style="margin-top: -20px;">
                        @Html.PasswordFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @id = "password", @required = "required" })
                    </div>

                    <div class="md-form pb-3" style="margin-top: -20px;">
                        @Html.PasswordFor(model => model.RePassword, new { @type = "password", @class = "form-control", @placeholder = "Re-Password", @id = "re-password", @required = "required" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control", @placeholder = "Name", @id = "name", @required = "required", @autocomplete = "off" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control", @placeholder = "Email", @id = "email", @required = "required", @autocomplete = "off" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.NumberPhone, new { @type = "text", @class = "form-control", @placeholder = "Number phone", @id = "number-phone", @required = "required", @autocomplete = "off" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.Address, new { @type = "text", @class = "form-control", @placeholder = "Address", @id = "address", @required = "required", @autocomplete = "off" })
                    </div>

                    <span class="help-block">
                        @Html.ValidationSummary(true, " ", new { @style = "color: red" })
                    </span>
                    <div id="error-message"></div>
                    <div class="text-center mb-3" style="margin-top: -10px">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a" id="btn-sign-up">Sign up</button>
                    </div>
                }

            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">
                    You have an account? <a href="#" class="blue-text ml-1" id="btnSwitchToLoginModal" onclick="showLoginModal()">
                        Sign In
                    </a>
                </p>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Sign Up Modal -->