@model PagedList.IPagedList<Model.EF.Order>
@using OnlineShop.Common.Constants;
@{
    ViewBag.Title = "Orders - Admin ShopMax";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int page = ViewBag.Page;
    int total = ViewBag.Total;
    int numOfPage = (total % 9 == 0) ? (total / 9) : ((total / 9) + 1);
    if (Model.Count() == 0)
    {
        numOfPage = 0;
    }
}

@section jsHeader {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
}
<style>
    tr:hover {
        box-shadow: 5px 5px grey;
    }
</style>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="width:100%">
                <p class="page-title">DANH SÁCH TẤT CẢ ĐƠN HÀNG </p>
                <span>
                    Lọc theo: <button class="btn-success">Tất cả</button>
                    <button class="btn-default" style="margin-left:10px">Đơn hàng mới</button>
                    <button class="btn-default" style="margin-left:10px">Đang giao</button>
                    <button class="btn-default" style="margin-left:10px">Đã giao</button>
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Người nhận</th>
                                    <th>Email</th>
                                    <th>SĐT</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày đặt</th>
                                    <th>Tổng tiền</th>
                                    <th>Thanh toán</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        var thanhtoan = "";
                                        if (item.isPaid.Equals(true))
                                        {
                                            thanhtoan = Constants.Order_Suc_Pay;
                                        }
                                        else
                                        {
                                            thanhtoan = Constants.Order_Not_Pay;
                                        }
                                        <tr onclick="location.href='/Admin/Orders/Edit?id=@item.id_order'">
                                            <td>@item.id_order</td>
                                            <td>@item.shipName</td>
                                            <td>@item.shipEmail</td>
                                            <td>@item.shipMobile</td>
                                            <td>@item.shipAddress</td>
                                            <td>@item.createDate</td>
                                            <td>@item.totalPrice VND</td>
                                            <td>@thanhtoan</td>
                                            <td>@item.status</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
