@using OnlineShop.Common.Constants;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@model OnlineShop.Models.LoginModel*@
@model OnlineShop.Models.RegisterModel

@section jsFooter{
    @*<script src="~/Assets/js/Controller/userController.js"></script>*@
    <script src="~/Assets/js/Controller/HomeJS/goToModal.js"></script>
    <script>
        // MARK: Check login status
        var showModal = '@ViewBag.ShowModal';
        console.log(showModal);
        if (showModal == '@Constants.SHOW_LOGIN_MODAL') {
            $(window).on('load', function () {
                $('#loginModal').modal('show');
            });
        } else if (showModal == '@Constants.SHOW_SIGN_UP_MODAL') {
            $(window).on('load', function () {
                $('#signUpModal').modal('show');
            });
        }
    </script>
    <script>
        if ('@ViewBag.Status' == 'True') {
            alert('@ViewBag.Message');
        }
    </script>
}

@Styles.Render("~/Assets/css/Controller/HomeCSS/modal.css")



<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center" style="height:50px">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div class="md-form mb-5">
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @placeholder = "Username", @id = "username1", @required = "required", @autocomplete="off" })
                    </div>

                    <div class="md-form pb-3" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.PasswordFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @id = "password1", @required = "required" })
                        <p class="font-small blue-text d-flex justify-content-end">
                            Forgot <a href="#" class="blue-text ml-1">
                                Password?
                            </a>
                        </p>
                    </div>
                    <span class="help-block">
                        @Html.ValidationSummary(true, "", new { @style = "color: red" })
                    </span>
                    <div id="error-message"></div>
                    <div class="text-center mb-3" style="margin-top: -10px">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a" id="btn-login">Sign in</button>
                    </div>
                }
                <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">
                    or Sign in
                    with:
                </p>

                <div class="row my-3 d-flex justify-content-center">
                    <!--Facebook-->
                    <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button>
                    <!--Google +-->
                    <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fab fa-google-plus-g"></i></button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">
                    Not a member? <a href="#" class="blue-text ml-1" id="btnSwitchToSignUpModal" onclick="showRegistrationModal()">
                        Sign Up
                    </a>
                </p>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Login Modal -->
<!-- Sign Up Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center" style="height:50px">
                <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign up</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
                {
                    <div class="md-form mb-5">
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @placeholder = "Username", @id = "username", @required = "required", @autocomplete="off" })
                    </div>

                    <div class="md-form pb-3" style="margin-top: -20px;">
                        @Html.PasswordFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @id = "password", @required = "required" })
                    </div>

                    <div class="md-form pb-3" style="margin-top: -20px;">
                        @Html.PasswordFor(model => model.RePassword, new { @type = "password", @class = "form-control", @placeholder = "Re-Password", @id = "re-password", @required = "required" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control", @placeholder = "Name", @id = "name", @required = "required", @autocomplete="off" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control", @placeholder = "Email", @id = "email", @required = "required", @autocomplete="off" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.NumberPhone, new { @type = "text", @class = "form-control",  @placeholder = "Number phone", @id = "number-phone", @required = "required", @autocomplete="off" })
                    </div>

                    <div class="md-form mb-5" style="margin-top: -20px; margin-bottom: -20px">
                        @Html.TextBoxFor(model => model.Address, new { @type = "text", @class = "form-control",  @placeholder = "Address", @id = "address", @required = "required", @autocomplete="off" })
                    </div>

                    <span class="help-block">
                        @Html.ValidationSummary(true, " ", new { @style = "color: red" })
                    </span>
                    <div id="error-message"></div>
                    <div class="text-center mb-3" style="margin-top: -10px">
                        <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a" id="btn-sign-up">Sign up</button>
                    </div>
                }

            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p class="font-small grey-text d-flex justify-content-end">
                    You have an account? <a href="#" class="blue-text ml-1" id="btnSwitchToLoginModal" onclick="showLoginModal()">
                        Sign In
                    </a>
                </p>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Sign Up Modal -->

<!-- Body -->
<div class="site-blocks-cover" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto order-md-2 align-self-start">
                <div class="site-block-cover-content">
                    <h2 class="sub-title">#New Summer Collection 2019</h2>
                    <h1>Arrivals Sales</h1>
                    <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
                </div>
            </div>
            <div class="col-md-6 order-1 align-self-end">
                <img src="~/Assets/images/model_3.png" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="title-section mb-5">
            <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-8">
                <div class="product-item sm-height full-height bg-gray">
                    <a href="#" class="product-category">Women <span>25 items</span></a>
                    <img src="~/Assets/images/model_4.png" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-item sm-height bg-gray mb-4">
                    <a href="#" class="product-category">Men <span>25 items</span></a>
                    <img src="~/Assets/images/model_5.png" alt="Image" class="img-fluid">
                </div>
                <div class="product-item sm-height bg-gray">
                    <a href="#" class="product-category">Shoes <span>25 items</span></a>
                    <img src="~/Assets/images/model_6.png" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section mb-5 col-12">
                <h2 class="text-uppercase">Popular Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Assets/images/prod_2.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Gray Shoe</a></h2>
                <strong class="item-price">$20.00</strong>
            </div>
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Assets/images/prod_3.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>
            </div>
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Assets/images/model_5.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>
                <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Assets/images/prod_1.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>
                <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Assets/images/model_1.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
                <strong class="item-price"><del>$46.00</del> $28.00</strong>
            </div>
            <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Assets/images/model_7.png" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                <strong class="item-price">$58.00</strong>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center mb-5 col-12">
                <h2 class="text-uppercase">Most Rated</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3">
                <div class="nonloop-block-3 owl-carousel">
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="~/Assets/images/model_1.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="~/Assets/images/prod_3.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="~/Assets/images/model_5.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="~/Assets/images/prod_1.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="~/Assets/images/model_7.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                            <strong class="item-price">$58.00</strong>
                            <div class="star-rating">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-blocks-cover inner-page py-5" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto order-md-2 align-self-start">
                <div class="site-block-cover-content">
                    <h2 class="sub-title">#New Summer Collection 2019</h2>
                    <h1>New Shoes</h1>
                    <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
                </div>
            </div>
            <div class="col-md-6 order-1 align-self-end">
                <img src="~/Assets/images/model_6.png" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Body -->
