@{
    ViewBag.Title = "User - Admin ShopMax";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listUser = ViewBag.ListAccount;
}
@section jsHeader {
    <script>


        function btnAllOnClicked() {
            setSelectedStatus("btn-all")
            setUnSelectedStatus("btn-admin")
            setUnSelectedStatus("btn-customer")
            window.location.href = '@Url.Action("Index", "Account")';
        }
        function btnAdminOnClicked() {
            setUnSelectedStatus("btn-all")
            setSelectedStatus("btn-admin")
            setUnSelectedStatus("btn-customer")
            window.location.href = '@Url.Action("Filter", "Account", new { @filterBy = 1 })';
        }
        function btnCustomerOnClicked() {
            setUnSelectedStatus("btn-all")
            setUnSelectedStatus("btn-admin")
            setSelectedStatus("btn-customer")
            window.location.href = '@Url.Action("FilterCustomer", "Account")';
        }

        // Extension
        function setSelectedStatus(buttonClass) {
            if (document.getElementById(buttonClass).classList.contains('btn-default')) {
                document.getElementById(buttonClass).classList.remove('btn-default');
                document.getElementById(buttonClass).classList.add('btn-success');
            }
        }
        function setUnSelectedStatus(buttonClass) {
            if (document.getElementById(buttonClass).classList.contains('btn-success')) {
                document.getElementById(buttonClass).classList.remove('btn-success');
                document.getElementById(buttonClass).classList.add('btn-default');
            } else {
            }
        }
    </script>
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="width:100%">
                <p class="page-title">DANH SÁCH TÀI KHOẢN KHÁCH HÀNG</p>
                <span>
                    Lọc theo: <button id="btn-all" class="btn-success" onclick="btnAllOnClicked()">Tất cả</button>
                    <button id="btn-admin" class="btn-default" style="margin-left:10px" onclick="btnAdminOnClicked()">Admin</button>
                    <button id="btn-customer" class="btn-default" style="margin-left:10px" onclick="btnCustomerOnClicked()">Khách hàng</button>
                </span>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Email</th>
                                    <th>Loại tài khoản</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (var i = 1; i <= listUser.Count; i++)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@listUser[i - 1].name</td>
                                        <td>@listUser[i - 1].username</td>
                                        <td>@listUser[i - 1].email</td>
                                        <td>@(listUser[i - 1].admin == true ? "Quản trị viên" : "Khách hàng")</td>
                                        <td>@(listUser[i - 1].status == true ? "Đang hoạt động" : "Bị Khóa")</td>
                                        <td>
                                            @using (@Html.BeginForm("ChangeStatus", "Account", FormMethod.Post))
                                            {
                                                <input type="hidden" name="id" value="@listUser[i-1].id_user" />
                                                <input type="submit" value="@(listUser[i-1].status == true ? "Khóa tài khoản" : "Kích hoạt tài khoản")" class="btn-change @(listUser[i-1].status == true ? "btn-danger" : "btn-success")" />
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

</div>

