@model  Model.Helper.ProductView
@using OnlineShop.Common.Constants;
@{
    List<Model.EF.Category> listCat = (List<Model.EF.Category>)ViewBag.Categories;
    List<Model.EF.Size> listSize = (List<Model.EF.Size>)ViewBag.Sizes;
    List<SelectListItem> selectList = new List<SelectListItem>();
    List<SelectListItem> selectListSize = new List<SelectListItem>();
    foreach (var cat in listCat)
    {
        selectList.Add(new SelectListItem { Value = cat.id_category + "", Text = cat.name });
    }
    foreach(var size in listSize)
    {
        selectListSize.Add(new SelectListItem { Value = size.id_size + "", Text = size.name });
    }
    String action = ViewBag.Action;
    ViewBag.Title = action + " - Admin ShopMax";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i_img = 2;
}
@section jsFooter{
    <script>
        var i = 2
        var j = 2
        var images = document.getElementById("images")
        var sizes = document.getElementById("sizes")
        function addField(k) {
            if ((i>4)||(j>4)) {
                return
            }
            if (k == 1) {
                if (i <= 2) {
                    i = 2
                }
                var input = document.createElement("div")
                input.classList = "form-group"
                input.innerHTML = `<label class="col-md-12">Link hình ảnh</label>
                                                            <div class="col-md-12">
                                                                @Html.TextBoxFor(model => model.Images, new { @type = "url", @class = "form-control form-control-line", @required = "required", @autocomplete = "off" })
                                                            </div>`
                images.appendChild(input)
                i++
            } else {
                 if (j <= 2) {
                    j = 2
                 }
                 var input = document.createElement("div")
                 input.classList = "form-group"
                 input.innerHTML = `<label class="col-sm-3" style="margin-top:10px">Size</label>
                                    <div class="col-sm-3">
                                        @Html.DropDownListFor(model => model.Id_Size, selectListSize, new { @class = "form-control form-control-line", @required = "required", @autocomplete = "off" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.Qua_Size, new { @type = "number", @class = "form-control form-control-line", @name = "prprice", @required = "required", @autocomplete = "off" })
                                    </div>`
                sizes.appendChild(input)
                j++
            }
        }
        function rmField(k) {
            if (k == 1) {
                if (i > 2) {
                    images.removeChild(images.lastChild)
                    i--
                }
            } else {
                if (j > 2) {
                    sizes.removeChild(sizes.lastChild)
                    j--
                }
            }
        }
    </script>
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <p class="page-title">@action</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                @Html.ValidationSummary(true, "", new { @class = "text-center" + ViewBag.ClassText })
            </div>
            @using (Html.BeginForm())
            {
                <div class="col-md-7 col-xs-12">
                    <div class="white-box">
                        <div class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-sm-12">Danh mục sản phẩm</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(model => model.Id_category, selectList, new { @class = "form-control form-control-line", @required = "required", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Tên sản phẩm</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control form-control-line", @name = "name", @required = "required", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6">Giá gốc</label>
                                <label class="col-md-6">Giá bán</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Price, new { @type = "number", @class = "form-control form-control-line", @name = "price", @required = "required", @autocomplete = "off" })
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.PrPrice, new { @type = "number", @class = "form-control form-control-line", @name = "prprice", @required = "required", @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Miêu tả</label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Description, new { rows = 12, @type = "text", @class = "form-control form-control-line", @name = "description", @required = "required", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="white-box">
                        <div class="form-horizontal form-material">
                            <div id="sizes">
                                @{
                                    if (action.Equals(Constants.CreateProduct))
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-3" style="margin-top:10px">Size</label>
                                            <div class="col-sm-3">
                                                @Html.DropDownListFor(model => model.Id_Size, selectListSize, new { @class = "form-control form-control-line", @required = "required", @autocomplete = "off" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model => model.Qua_Size, new { @type = "number", @class = "form-control form-control-line", @name = "prprice", @required = "required", @autocomplete = "off" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        for (int i_sizes = 0; i_sizes < Model.Qua_Size.Count; i_sizes++)
                                        {
                                            <div class="form-group">
                                                <label class="col-sm-3" style="margin-top:10px">Size</label>
                                                <div class="col-sm-3">
                                                    @Html.DropDownListFor(model => model.Id_Size[i_sizes], selectListSize, new { @class = "form-control form-control-line", @required = "required", @autocomplete = "off" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.Qua_Size[i_sizes], new { @type = "number", @class = "form-control form-control-line", @name = "prprice", @required = "required", @autocomplete = "off" })
                                                </div>
                                            </div>
                                        }
                                    }
                                }

                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <a href="javascript:void(0)" class="btn btn-warning" onclick="addField(2)">+</a>
                                    <a href="javascript:void(0)" class="btn btn-default" onclick="rmField(2)">-</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white-box">
                        <div class="form-horizontal form-material">
                            <div id="images">
                                @{
                                    if (action.Equals(Constants.CreateProduct))
                                    {
                                        <div class="form-group">
                                            <label class="col-md-12">Link hình ảnh</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.Images, new { @type = "url", @class = "form-control form-control-line", @name = "img1", @required = "required", @autocomplete = "off" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        for (int i_img1 = 0; i_img1 < Model.Images.Count; i_img1++)
                                        {
                                            <div class="form-group">
                                                <label class="col-md-12">Link hình ảnh</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.Images[i_img1], new { @type = "url", @class = "form-control form-control-line", @name = "img1", @required = "required", @autocomplete = "off" })
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <a href="javascript:void(0)" class="btn btn-warning" onclick="addField(1)">+</a>
                                    <a href="javascript:void(0)" class="btn btn-default" onclick="rmField(1)">-</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-success">@action</button>
                    <button type="reset" class="btn btn-default">RESET</button>
                </div>
            }
        </div>
        <!-- /.row -->
    </div>
    <div id="errorModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Viet</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
