@using OnlineShop.Common.Constants;
@using Model.EF;
@using OnlineShop.Model;
@{
    Layout = null;
    User user = (User)Session[Constants.USER_SESSION];
    var message = TempData["Message"] != null ? TempData["Message"] : "";
    var cart = (List<CartItem>)Session[Constants.CART_SESSION];
    var cartCount = cart == null ? 0 : cart.Count();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - THE SHOPMAX</title>
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/copyright-icons-1/24/Social-Media-512.png"
          type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Style Home-->
    <link rel="stylesheet" href="~/Assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/css/aos.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">

    <!--/Style Home-->
    <style>
        #aa:hover{
            display: block;
        }
        #bb{
            position:center;
        }
        #MyImage {
    position: relative;
    margin: 20px auto 0;
    width: 100%;
    max-width: 400px;
}
#theImage {
    display: block;
    position: relative;
    width: 100%;
}
#myButton {
    position: absolute;
    align-items:center;
    bottom: 47px;
}
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-login {
            width: 500px;
        }

            .modal-login .modal-content {
                margin-top: 100px;
                padding: 20px;
                border-radius: 5px;
                border: none;
            }

            .modal-login .modal-header {
                border-bottom: none;
                position: relative;
                justify-content: center;
            }

            .modal-login .close {
                position: absolute;
                top: -10px;
                right: -10px;
            }

            .modal-login h4 {
                color: #636363;
                text-align: center;
                font-size: 26px;
                margin-top: 0;
            }

            .modal-login .modal-content {
                color: #999;
                border-radius: 1px;
                margin-bottom: 15px;
                background: #fff;
                border: 1px solid #f3f3f3;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 25px;
            }

            .modal-login .form-group {
                margin-bottom: 20px;
            }

            .modal-login label {
                font-weight: normal;
                font-size: 13px;
            }

            .modal-login .form-control {
                min-height: 38px;
                padding-left: 5px;
                box-shadow: none !important;
                border-width: 0 0 1px 0;
                border-radius: 0;
            }

                .modal-login .form-control:focus {
                    border-color: #ccc;
                }

            .modal-login .input-group-addon {
                max-width: 42px;
                text-align: center;
                background: none;
                border-width: 0 0 1px 0;
                padding-left: 5px;
                border-radius: 0;
            }

            .modal-login .btn {
                font-size: 16px;
                font-weight: bold;
                border-radius: 3px;
                border: none;
                min-width: 140px;
                outline: none !important;
                background: #DE6262;
                color: #fff;
            }

                .modal-login .btn:hover, .modal-login .btn:focus {
                    background: #179b81;
                }

            .modal-login .hint-text {
                text-align: center;
                padding-top: 5px;
                font-size: 13px;
            }

            .modal-login .modal-footer {
                color: #999;
                border-color: #dee4e7;
                text-align: center;
                margin: 0 -25px -25px;
                font-size: 13px;
                justify-content: center;
            }

            .modal-login a {
                color: #fff;
                text-decoration: underline;
            }

                .modal-login a:hover {
                    text-decoration: none;
                }

            .modal-login a {
                color: #19aa8d;
                text-decoration: none;
            }

                .modal-login a:hover {
                    text-decoration: underline;
                }

            .modal-login .fa {
                font-size: 21px;
            }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
        /*.no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .se-pre-con {
	        position: fixed;
	        left: 0px;
	        top: 0px;
            margin: 0 auto;
	        width: 100%;
	        height: 100%;
	        z-index: 9999;
	        background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
        }*/
    </style>

    @RenderSection("Styles", false)
    @RenderSection("jsHeader", required: false)

</head>
<body>
    @*<div class="se-pre-con"></div>*@

    <!-- Message Modal-->
    <div id="messageModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
        </div>
    </div>

    <div class="site-wrap">

        <div class="site-navbar bg-white py-2">
            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    @using (Html.BeginForm("Search", "Collection", FormMethod.Get))
                    {
                        <input type="text" class="form-control" name="keywords" placeholder="Nhập từ khóa tìm kiếm và nhấn Enter..." required="required">
                    }
                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            @Html.ActionLink("ShopMax","Index", new { controller = "Home" }, new { @class = "js-logo-clone" })
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">

                                <li>@*@Html.ActionLink("Đang giảm giá", "Filter", "Collection", new { id = "giam-gia" }, new { @class = "text-danger"})*@</li>
                                <li class="has-children">
                                    @Html.ActionLink("Hàng mới về", "Filter", "Collection", new { id = "tat-ca-hang-moi" }, null)
                                    <ul class="dropdown">
                                        <li>
                                            @Html.ActionLink("Nam", "Filter", "Collection", new { id = "hang-nam-moi" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Nữ", "Filter", "Collection", new { id = "hang-nu-moi" }, null)
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    @Html.ActionLink("Nam", "Filter", "Collection", new { id = "tat-ca-quan-ao-nam" }, null)
                                    <ul class="dropdown">
                                        <li>
                                            @Html.ActionLink("Áo sơ mi nam", "Filter", "Collection", new { id = "ao-so-mi-nam" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Áo thun nam", "Filter", "Collection", new { id = "ao-thun-nam" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Áo khoác nam", "Filter", "Collection", new { id = "ao-khoac-nam" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Quần dài nam", "Filter", "Collection", new { id = "quan-dai-nam" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Quần short nam", "Filter", "Collection", new { id = "quan-short-nam" }, null)
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    @Html.ActionLink("Nữ", "Filter", "Collection", new { id = "tat-ca-quan-ao-nu" }, null)
                                    <ul class="dropdown">
                                        <li>
                                            @Html.ActionLink("Áo kiểu nữ", "Filter", "Collection", new { id = "ao-kieu-nu" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Áo sơ mi nữ", "Filter", "Collection", new { id = "ao-so-mi-nu" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Áo thun nữ", "Filter", "Collection", new { id = "ao-thun-nu" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Áo khoác nữ", "Filter", "Collection", new { id = "ao-khoac-nu" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Váy nữ", "Filter", "Collection", new { id = "vay-nu" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Quần dài nữ", "Filter", "Collection", new { id = "quan-dai-nu" }, null)
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    @Html.ActionLink("Giày", "Filter", "Collection", new { id = "giay" }, null)
                                    <ul class="dropdown">
                                        <li>
                                            @Html.ActionLink("Giày nam", "Filter", "Collection", new { id = "giay-nam" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Giày nữ", "Filter", "Collection", new { id = "giay-nu" }, null)
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/Home/Contact">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a href="/Cart" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            @if (cartCount != 0)
                            {
                                <span class="number">@cartCount</span>
                            }
                        </a>
                        
                        @if (user != null)
                        {
                            <span style="margin-left: 15px">
                                <span class="icon-user" style="color: red"></span>
                            </span>
                            <a href="/profile" >Hello, @user.name</a>
                            <span> <a href="/logout" > / Đăng xuất</a></span>
                        }
                        else
                        {
                            <span style="margin-left: 15px">
                                <span class="icon-user-o"></span>
                            </span>
                            <a href="/login">Đăng nhập / </a>
                            <span><a href="/register">Đăng kí</a></span>
                        }
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="page">

            @RenderBody()
        </div>
        <footer class="site-footer custom-border-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Quảng cáo</h3>
                        <a href="#" class="block-6">
                            <img src="~/Assets/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Tìm áo dịp cuối năm?</h3>
                            <p>15 &mdash; 25 Tháng 10, 2019</p>
                        </a>
                    </div>
                    <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Hỗ trợ mua hàng</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Hệ thống showroom</a></li>
                                    <li><a href="#">Hướng dẫn chọn size</a></li>
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                    <li><a href="#">Đổi trả & vận chuyển</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Về chúng tôi</a></li>
                                    <li><a href="#">Cơ hội nghề nghiệp</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Thông tin liên hệ</h3>
                            <ul class="list-unstyled">
                                <li class="address">203 Đồng Khởi, Quận 1, TP Hồ Chí Minh</li>
                                <li class="address">12 Nguyễn Đình Chiểu, Quận 3, TP Hồ Chí Minh</li>
                                <li class="address">45 Hoàn Kiếm, Đống Đa, Hà Nội</li>
                                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                                <li class="email">theshopmax@hcm.com</li>
                            </ul>
                        </div>
                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Đăng kí nhận tin tức khuyến mãi</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Gửi">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/aos.js"></script>
    <script src="~/Assets/js/main.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>*@
    <script>
        if ('@message' != '') {
            $("#messageModal").modal('show');
            //alert('@message');
        }
    </script>
    @RenderSection("jsFooter", required: false)
    @*<script>
        $('.dropdown').hover(function () {
            $('.dropdown-toggle', this).trigger('click');
        });
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("fast");;
        });
    </script>*@
    
</body>
</html>