@model OnlineShop.Model.CartInfo
@using OnlineShop.Common.Constants;

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cart = (List<OnlineShop.Model.CartItem>)Session[Constants.CART_SESSION];
    var cartInfo = Model;

}

@section jsFooter{
    <script type="text/javascript" src="~/Assets/js/Controller/Cart/cartController.js"></script>
    <script>
        function tempAlert(msg, duration) {
            var el = document.createElement("div");
            el.setAttribute("style", "position:absolute;top:55%;width:100%;background-color:white;text-align:center;line-height:90px;font-size:20px");
            el.innerHTML = msg;
            setTimeout(function () {
                el.parentNode.removeChild(el);
            }, duration);
            document.body.appendChild(el);
        }
    </script>
    <script>
        $("#option2").hide();
        $('#defaultGroupExample1').click(function () {
            $("#option2").hide();
            $("#option1").show();

        });
        $('#defaultGroupExample2').click(function () {
            $("#option1").hide();
            $("#option2").show();
        });

        function plus(id){
            var id = id;
            var price = $("#price"+id).val();
            var quantity = $("#quantity" + id).val();
            var total = format(price * (Number(quantity) + 1)) + 'đ';
            $("#total-price" + id).html(total);

            var delayInMilliseconds = 100; //1 second
            setTimeout(function () {
                $("#btn-update").click();
            }, delayInMilliseconds);
            
        }
        function minus(id){
            var id = id;
            var price = $("#price" + id).val();
            var quantity = $("#quantity" + id).val();
            if (quantity == 0) {return};
            var total = format(price * (Number(quantity) - 1)) +'đ';
            $("#total-price" + id).html(total);
            var delayInMilliseconds = 100; //1 second
            setTimeout(function () {
                $("#btn-update").click();
            }, delayInMilliseconds);
        }
        function format(x) {
            return isNaN(x) ? "" : x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
   </script>
}


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    @if (cart == null || cart.Count() == 0)
                    {
                        <div class="col-md-12" style="width:100%;text-align:center" >Giỏ hàng chưa có sản phẩm nào</div>
                        
                    }
                    else
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail" colspan="2">Sản phẩm</th>
                                    <th class="product-size">Size</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-total">Giá</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in cart)
                                {
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="@item.image" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.product.name</h2>
                                        </td>
                                        <td>
                                            <h2 class="h5 text-black">@item.sizeName</h2>
                                        </td>
                                        @if (item.product.promotionPrice == null)
                                        {
                                            <td >
                                                <span>@String.Format("{0:n0}", item.product.price)đ</span>
                                                <input type="hidden" id="price@(item.product.id_product)" value="@item.product.price"/>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span>@String.Format("{0:n0}", item.product.promotionPrice)đ</span>
                                                <input type="hidden" id="price@(item.product.id_product)" value="@item.product.promotionPrice" />
                                            </td>
                                        }
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <button onclick="minus(@item.product.id_product)" class="btn btn-outline-primary js-btn-minus" type="button" value="@item.product.id_product">&minus;</button>
                                                </div>
                                                <input id="quantity@(item.product.id_product)" type="text" class="form-control text-center quantity" value="@item.quantity" data-id="@item.product.id_product" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                <div class="input-group-append">
                                                    <button onclick="plus(@item.product.id_product)" class="btn btn-outline-primary js-btn-plus" type="button" value="@item.product.id_product">&plus;</button>
                                                </div>
                                            </div>

                                        </td>
                                        <td id="total-price@(item.product.id_product)">@String.Format("{0:n0}", (item.product.promotionPrice == null ? (item.product.price * item.quantity) : (item.product.promotionPrice * item.quantity)))đ</td>
                                        <td><a href="#" id="btn-delete" data-id="@item.product.id_product" class="btn btn-primary height-auto btn-sm">X</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <button id="btn-update" style="width:25%; float:right; display:none" class="btn btn-outline-primary btn-sm btn-block">Cập nhật giỏ hàng</button>
                    }
                </div>
            </form>
        </div>

      @if (cart != null)
      {
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <p>Bạn đã đăng nhập hay chưa?</p>
                    </div>
                    <div class="col-md-6">
                        <button onclick="window.location='/login'" class="btn btn-outline-primary btn-sm btn-block">Đăng nhập</button>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12 text-left border-bottom mb-5" style="margin-top:50px">
                        <h3 class="text-black h4">Thông tin giao hàng</h3>
                    </div>
                    <div class="col-md-12" style="margin-top:-40px">
                        <p>Phương thức thanh toán</p>
                    </div>
                    <!-- Group of default radios - option 1 -->
                    <div class="custom-control custom-radio col-md-12">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
                        <label class="custom-control-label" for="defaultGroupExample1">Thanh toán khi giao hàng (COD)</label>
                        <p id="option1"> - Được kiểm tra hàng trước khi nhận hàng.<br />- Miễn phí ship với các đơn hàng trên 500.000 đ.</p>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-radio col-md-12">
                        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="defaultGroupExample2">Chuyển khoản qua ngân hàng</label>
                        <p id="option2">-Vietcombank: Số tài khoản: 0531002495503 Chủ tài khoản: Trần Đại Dương Chi nhánh Bình Thạnh, HCM<br />-ACB: Số tài khoản: 157340939 Chủ tài khoản: Trần Đại Dương Chi nhánh Hàng Xanh, HCM</p>
                    </div>

                    <hr style="width:100%" />
                    <div class="col-md-12" style="margin-bottom:-10px">
                        <p>Họ và tên<span class="text-danger">*</span></p>
                    </div>
                    <div class="col-md-12 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="name" value="@cartInfo.shipName">
                    </div>
                    <div class="col-md-12" style="margin-top: 15px; margin-bottom:-10px">
                        <p>Số điện thoại<span class="text-danger">*</span></p>
                    </div>
                    <div class="col-md-12 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="phone" value="@cartInfo.shipPhone">
                    </div>
                    <div class="col-md-12" style="margin-top: 15px; margin-bottom:-10px">
                        <p>Email<span class="text-danger">*</span></p>
                    </div>
                    <div class="col-md-12 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="email" value="@cartInfo.shipEmail">
                    </div>
                    <div class="col-md-12" style="margin-top: 15px; margin-bottom:-10px">
                        <p>Địa chỉ nhận hàng<span class="text-danger">*</span></p>
                    </div>
                    <div class="col-md-12 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="address">
                    </div>
                    <div class="col-md-12 mb-3 mb-md-0" style="margin-top: 30px">
                        <button class="btn btn-primary btn-lg btn-block" onclick="window.location='checkout.html'" style="float:right;width:200px">Gửi đơn hàng</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6" style="float:right">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Tổng giỏ hàng</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Tổng tiền</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black"><b>@String.Format("{0:n0}", @cartInfo.totalPrice) đ</b></strong>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Giá giảm</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black"><b>@String.Format("{0:n0}", @cartInfo.discountPrice) đ</b></strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Giá phải trả</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-danger" style="font-size:20px"><b>@String.Format("{0:n0}", @cartInfo.lastPrice) đ</b></strong>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
      }
    </div>
</div>
<!-- Body -->