@model OnlineShop.Model.ProductDetailPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> listImage = ViewBag.ListImage;
    var productDetail = Model.productDetail;
    var listSize = Model.listSize;
    var relativeProduct = Model.listRelativeProduct;
    var imageRelativeProduct = Model.listImageRelativeProduct;
}
@section jsFooter{
    <script>
        //$("#btn-minus").click(function (e) {
        //    if (("#quantity").val() == 1){
        //        return false;
        //    }
        //});
        $("#btn-add").click(function (e) {
            //if ((e.target).tagName == 'INPUT') return true;
            //e.preventDefault();
            //$("#mode").prop("checked", !$("#mode").prop("checked"));
            if (!$("input:radio[name='size']").is(":checked")){
                $('#message').html('Bạn chưa chọn size');
                $("#modal").modal('show');
                return false;
            }
        });
    </script>
    } 
<!-- Message Modal-->
<div id="modal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="message"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
        </div>
    </div>
</div>
<!--- body -->>
<div class="site-section">
    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-8 mb-5 oder-1">
                <div class="row mb-5">
                    @foreach (var item in listImage)
                    {
                        <div class="col-lg-6 col-md-6 item-entry" style="margin-bottom:20px; margin-left:-10px">
                            <a href="#" class="md-height d-block">
                                <img src="@item" alt="Image" class="img-fluid">
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="text-black">@productDetail.name</h2>
                <p class="text-justify" style="font-size:14px;">@productDetail.description</p>
                <p class="d-flex justify-content-center">
                    @if (productDetail.promotionPrice != null)
                    {
                        <strong class="text-primary h4"><del style="color:grey">@String.Format("{0:n0}", productDetail.price)đ</del> @String.Format("{0:n0}", productDetail.promotionPrice)đ </strong>
                    }
                    else
                    {
                        <strong class="text-primary h4">@String.Format("{0:n0}", productDetail.price)đ </strong>
                    }
                </p>
                @using (Html.BeginForm("Add", "Cart", FormMethod.Post)) { 
                    <div class="mb-1 d-flex justify-content-center">
                        <input type="hidden" value="@productDetail.id_product" name="id"/>
                        @foreach (var item in listSize)
                        {
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" value="@item.id_size" id="@item.id_size" name="size">
                                <label class="custom-control-label" for="@item.id_size">@item.name</label>
                            </div>
                        }
                        @if (listSize.Count() == 0)
                        {
                            <div><p>Hết hàng</p></div>
                        }

                    </div>
                    <div class="mb-5 d-flex justify-content-around" style="margin-top:20px">
                        <div class="input-group mb-3" style="max-width: 120px;">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" id="btn-minus" type="button">&minus;</button>
                            </div>
                            <input type="text" id="quantity" class="form-control text-center" value="1" name="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>
                    </div>
                   
                    
                        <button type="@(listSize.Count() != 0 ? "submit": "button")" id="@(listSize.Count() != 0 ? "btn-add" : "")" class="buy-now btn btn-sm height-auto px-4 py-3 @(listSize.Count() != 0 ? "btn-danger": "btn-secondary") d-flex justify-content-around" style="color:white; width:100%">Thêm vào giỏ</button>
                        <p>@*<a href="/add?id=@productDetail.id_product&size=" id="btn-add" class="buy-now btn btn-sm height-auto px-4 py-3 btn-danger d-flex justify-content-around" style="color:white">Thêm vào giỏ</a>*@</p>
                    
                }
            </div>
        </div>
    </div>
</div>
<div class="site-section block-3 site-blocks-2" style="margin-top:-150px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Gợi ý cho bạn</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3">
                <div class="nonloop-block-3 owl-carousel">
                    @foreach (var item in relativeProduct)
                    {
                        if (item.id_product != productDetail.id_product)
                        {
                            <div class="item">
                                <div class="item-entry">
                                    <a href="/product?id=@item.id_product" class="md-height bg-gray d-block">
                                        @foreach (var image in imageRelativeProduct)
                                        {
                                            if (image.id_product == item.id_product)
                                            {
                                                <img src="@image.link" alt="Image" class="image" style="width:100%; height:100%;" />
                                            }
                                        }
                                    </a>
                                    <h2 class="item-title" style="margin-top:15px"><a href="#">@item.name</a></h2>
                                    @if (item.promotionPrice != null)
                                    {
                                        <strong class="item-price"><del>@String.Format("{0:n0}", item.price)đ</del> @String.Format("{0:n0}", item.promotionPrice)đ </strong>
                                    }
                                    else
                                    {
                                        <strong class="item-price">@String.Format("{0:n0}", item.price)đ </strong>
                                    }

                                </div>
                            </div>
                        }
                    }
                    @*<div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/model_1.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                           
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/prod_3.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/model_5.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-entry">
                            <a href="#" class="product-item md-height bg-gray d-block">
                                <img src="images/prod_1.png" alt="Image" class="img-fluid">
                            </a>
                            <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                            <strong class="item-price"><del>$46.00</del> $28.00</strong>
                            
                        </div>
                    </div>*@
                    
                </div>
            </div>
        </div>
    </div>
</div>

